langchain==0.3.26
langchain-community==0.3.26
langchain-openai==0.3.24

chromadb==1.0.12

sentence-transformers==4.1.0
transformers==4.52.4

pandas==2.2.3
numpy==2.2.6

streamlit==1.45.1

python-dotenv==1.1.0

ragas==0.2.15

kagglehub==0.3.12